<div class="ez-wr">
	<div class="ez-fl ez-negmr ez-25">
		<div class="ez-box">
			<div class="link-box sidebox">
			  <div style="background-color:#F9FEF4;">
				<div class="one-box">
					<div id="hot-links" class="newbox">
					  <%= render :partial => "/snippets/hot-links" %>
					</div>
				</div>
				<ul class="section-seperator"><li></li></ul>
				<div class="one-box">
					<div class="box-title">
						<h2>Current &amp; Coming Events</h2>
					</div>
					<div id="events-links" class="newbox">
					  <%= render :partial => "/snippets/events-links" %>
					</div>
				</div>
				<ul class="section-seperator"><li></li></ul>
				<div class="one-box">
					<div class="box-title">
						<h2>Utility</h2>
					</div>
					<div id="utility-links" class="newbox">
					  <%= render :partial => "/snippets/utility-links" %>
					</div>
				</div>
				<ul class="section-seperator"><li></li></ul>
				<div class="one-box">
					<div class="box-title">
						<h2>New Links</h2>
					</div>
					<div id="new-links" class="newbox">
					  <%= render :partial => "/snippets/new-links" %>
					</div>
				</div>				
			  </div>
			</div>
		</div>
	</div>
	<div class="ez-last ez-oh">
		<div class="ez-box">
			<div class="link-box">
				<div class="one-box no-header color-bright2">
					<div class="box-content">
						<div id="top-links">
							<%= render :partial => "/snippets/top-links" %>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
				<div style="height:5px;padding-top:3px;">
                  
				</div>
				<div class="one-box no-header color-bright3">
					<div id="category" class="mainbox">
					  <%= render :partial => "/snippets/category-links" %>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="ez-box top-seperator">
	<div class="one-box no-header">
    <div class="box-content">
      <%= render :partial => "/snippets/category-nav" %>
			<div style="clear: both;"></div>
    </div>
  </div>
</div>